In [229]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_row', 5000)
pd.set_option('display.max_columns', 1000)
# 무시
pd.set_option('mode.chained_assignment',  None)
import numpy as np
import seaborn as sns # 시각화 라이브러리
from matplotlib import rc
rc('font',family='Malgun Gothic')
import math
from tqdm.notebook import tqdm_notebook as tq

In [230]:
data1 = pd.read_csv('합격자 스펙 데이터 (1~100059).csv', encoding='cp949')
data2 = pd.read_csv('합격자 스펙 데이터 (100060~200126).csv', encoding='cp949')
data3 = pd.read_csv('합격자 스펙 데이터 (200127~278149).csv', encoding='cp949')

data = pd.concat([data1, data2, data3])

In [231]:
data.reset_index(inplace=True)
data.drop('Unnamed: 0', axis=1, inplace=True)
data.drop('index', axis=1, inplace=True)

In [232]:
temp1 = data['출신전공'].map(lambda x: len(x.split(' ')))
one = []
two = []
for i in data['출신전공']:
    dd = i.split(' ')
    one.append(dd[0])
    if len(dd) > 2:
        two.append(dd[1])
    else :
        two.append('고졸')
# one = pd.Series(one).value_counts()
# two = pd.Series(two).value_counts()

# one => 최종학력
# two => 전공
data['최종학력'] = one
data['전공'] = two

In [233]:
data['분기'] = data['지원분야'].str.split('\n').str[0]

In [234]:
data['부서'] = data['지원분야'].str.split('\n').str[1]

In [235]:
data.drop('지원분야', axis=1, inplace=True)

In [236]:
a = data['출신전공'].str.contains('4년')
b = data['출신전공'].str.contains('초대졸')
c = data['출신전공'].str.contains('해외대학')
d = data['출신전공'].str.contains('대학원')
e = data['출신전공'].str.contains('고졸')

data['출신전공'][a] = '4년'
data['출신전공'][b] = '초대졸'
data['출신전공'][c] = '해외대학'
data['출신전공'][d] = '대학원'
data['출신전공'][e] = '고졸'

In [237]:
data['부서']=data['부서'].fillna('직무무관')

In [238]:
data['부서']=data['부서'].fillna('직무무관')

In [239]:
a = data['부서'].str.contains('인사')
b = data['부서'].str.contains('사무')
c = data['부서'].str.contains('상담')
d = data['부서'].str.contains('조립')
e = data['부서'].str.contains('생산관리')
f = data['부서'].str.contains('서비스영업')
g = data['부서'].str.contains('보험영업')
h = data['부서'].str.contains('기술영업')
i = data['부서'].str.contains('법인영업')
j = data['부서'].str.contains('광고영업')
k = data['부서'].str.contains('해외영업')
k_1 = data['부서'].str.contains('아웃바운드TM')
l = data['부서'].str.contains('영업관리')
m = data['부서'].str.contains('전략')
n = data['부서'].str.contains('비서')
o = data['부서'].str.contains('마케팅')
o_1 = data['부서'].str.contains('광고제작')
p = data['부서'].str.contains('PR')
q = data['부서'].str.contains('상품기획 MD')
q_1 = data['부서'].str.contains('웹기획')
r = data['부서'].str.contains('디자인')
s = data['부서'].str.contains('홍보')
t = data['부서'].str.contains('퍼블리싱')
u = data['부서'].str.contains('프로그래머')
v = data['부서'].str.contains('통신기술')
w = data['부서'].str.contains('소프트웨어')
x = data['부서'].str.contains('인공지능')
y = data['부서'].str.contains('데이터베이스')
z = data['부서'].str.contains('네트워크')


data['부서'][a] = '인사'
data['부서'][b] = '사무'
data['부서'][c] = '상담'
data['부서'][d] = '생산조립'
data['부서'][e] = '생산관리'
data['부서'][f] = '영업'
data['부서'][g] = '영업'
data['부서'][h] = '영업'
data['부서'][i] = '영업'""
data['부서'][j] = '영업'
data['부서'][k] = '영업'
data['부서'][k_1] = '영업'
data['부서'][m] = '기획전략'
data['부서'][n] = '비서'
data['부서'][o] = '마케팅'
data['부서'][o_1] = '마케팅'
data['부서'][p] = '마케팅'
data['부서'][q] = '마케팅'
data['부서'][q_1] = '마케팅'
data['부서'][s] = '마케팅'
data['부서'][t] = '마케팅'
data['부서'][r] = '디자인'
data['부서'][u] = '프로그래머'
data['부서'][v] = '프로그래머'
data['부서'][w] = '프로그래머'
data['부서'][x] = '프로그래머'
data['부서'][y] = '프로그래머'
data['부서'][z] = '프로그래머'

In [240]:
data['자격증'].replace('-',0, inplace=True)
data['자격증'].replace('1개',1, inplace=True)
data['자격증'].replace('2개',2, inplace=True)
data['자격증'].replace('3개',3, inplace=True)
data['자격증'].replace('4개',4, inplace=True)
data['자격증'].replace('5개',5, inplace=True)
data['자격증'].replace('6개',6, inplace=True)
data['자격증'].replace('7개',7, inplace=True)
data['자격증'].replace('8개',8, inplace=True)
data['자격증'].replace('9개',9, inplace=True)
data['자격증'].replace('10개',10, inplace=True)
data['자격증'].replace('11개',11, inplace=True)
data['자격증'].replace('12개',12, inplace=True)
data['자격증'].replace('13개',13, inplace=True)
data['자격증'].replace('14개',14, inplace=True)
data['자격증'].replace('15개',15, inplace=True)
data['자격증'].replace('16개',16, inplace=True)

In [241]:
data['교내/사회/봉사'].replace('-',0, inplace=True)
data['교내/사회/봉사'].replace('1회',1, inplace=True)
data['교내/사회/봉사'].replace('2회',2, inplace=True)
data['교내/사회/봉사'].replace('3회',3, inplace=True)
data['교내/사회/봉사'].replace('4회',4, inplace=True)
data['교내/사회/봉사'].replace('5회',5, inplace=True)
data['교내/사회/봉사'].replace('6회',6, inplace=True)
data['교내/사회/봉사'].replace('7회',7, inplace=True)
data['교내/사회/봉사'].replace('8회',8, inplace=True)
data['교내/사회/봉사'].replace('9회',9, inplace=True)
data['교내/사회/봉사'].replace('10회',10, inplace=True)
data['교내/사회/봉사'].replace('11회',11, inplace=True)
data['교내/사회/봉사'].replace('12회',12, inplace=True)
data['교내/사회/봉사'].replace('13회',12, inplace=True)
data['교내/사회/봉사'].replace('14회',14, inplace=True)
data['교내/사회/봉사'].replace('-',0, inplace=True)

In [242]:
data['해외경험'].replace('-',0, inplace=True)
data['해외경험'].replace('1회',1, inplace=True)
data['해외경험'].replace('2회',2, inplace=True)
data['해외경험'].replace('3회',3, inplace=True)
data['해외경험'].replace('4회',4, inplace=True)
data['해외경험'].replace('5회',5, inplace=True)
data['해외경험'].replace('6회',6, inplace=True)
data['해외경험'].replace('11회',11, inplace=True)
data['해외경험'].replace('7회',7, inplace=True)
data['해외경험'].replace('14회',14, inplace=True)

In [243]:
data['인턴'].replace('-',0, inplace=True)
data['인턴'].replace('1회',1, inplace=True)
data['인턴'].replace('2회',2, inplace=True)
data['인턴'].replace('3회',3, inplace=True)
data['인턴'].replace('4회',4, inplace=True)
data['인턴'].replace('5회',5, inplace=True)
data['인턴'].replace('6회',6, inplace=True)
data['인턴'].replace('7회',7, inplace=True)
data['인턴'].replace('8회',8, inplace=True)
data['인턴'].replace('10회',10, inplace=True)
data['인턴'].replace('12회',12, inplace=True)
data['인턴'].replace('13회',13, inplace=True)
data['인턴'].replace('14회',14, inplace=True)
data['인턴'].replace('17회',17, inplace=True)
data['인턴'].replace('20회',21, inplace=True)
data['인턴'].replace('21회',21, inplace=True)

In [244]:
data['수상내역'].replace('-',0, inplace=True)
data['수상내역'].replace('1회',1, inplace=True)
data['수상내역'].replace('2회',2, inplace=True)
data['수상내역'].replace('3회',3, inplace=True)
data['수상내역'].replace('4회',4, inplace=True)
data['수상내역'].replace('5회',5, inplace=True)
data['수상내역'].replace('6회',6, inplace=True)
data['수상내역'].replace('7회',7, inplace=True)
data['수상내역'].replace('9회',9, inplace=True)
data['수상내역'].replace('14회',14, inplace=True)

In [245]:
data['외국어(기타)'].replace('-',0, inplace=True)
data['외국어(기타)'].replace('1개',1, inplace=True)
data['외국어(기타)'].replace('2개',2, inplace=True)
data['외국어(기타)'].replace('3개',3, inplace=True)
data['외국어(기타)'].replace('4개',4, inplace=True)

In [246]:
data['토익스피킹'].replace('Lv8',8, inplace=True)
data['토익스피킹'].replace('Lv7',7, inplace=True)
data['토익스피킹'].replace('Lv6',6, inplace=True)
data['토익스피킹'].replace('Lv5',5, inplace=True)
data['토익스피킹'].replace('Lv4',4, inplace=True)
data['토익스피킹'].replace('Lv3',3, inplace=True)
data['토익스피킹'].replace('Lv2',2, inplace=True)
data['토익스피킹'].replace('Lv1',1, inplace=True)
data['토익스피킹'].replace('-',0, inplace=True)

In [247]:
data['OPIC'].replace('-',0, inplace=True)
data['OPIC'].replace('AL',9, inplace=True)
data['OPIC'].replace('IH',8, inplace=True)
data['OPIC'].replace('IM3',7, inplace=True)
data['OPIC'].replace('IM2',6, inplace=True)
data['OPIC'].replace('IM1',5, inplace=True)
data['OPIC'].replace('IL',4, inplace=True)
data['OPIC'].replace('NH',3, inplace=True)
data['OPIC'].replace('NL',2, inplace=True)
data['OPIC'].replace('NM',1, inplace=True)

In [248]:
data['토익'] = data[data['토익'].str.contains('점')]['토익'].str.replace('점',"")
data['학점'] = data[data['학점'].str.contains('/4.5')]['학점'].str.replace('/4.5',"")

In [249]:
data['토익']= data['토익'].fillna(0)
data['학점']= data['학점'].fillna(0)

In [250]:
data['기업정보'] = data['기업정보'].str.replace('<span></span>,<span></span>','<span>기업정보없음</span>')
data['기업정보'] = data['기업정보'].str.replace('<span></span>,<span>0명 재직중</span>','<span>기업정보없음</span>')

In [251]:
data['기업정보'] = data['기업정보'].str.split('</span>').str[0]

In [252]:
data['기업정보']= data['기업정보'].str.split('>').str[1]

In [253]:
def grade(x):
    result = 0
    if(x == 4.5 ): 
        result = 'A+'
    elif(x > 4):
        result = 'A'
    elif(x > 3.5):
        result = 'B+'
    elif(x > 3):
        result = 'B'
    elif(x > 2.5):
        result = 'C+'
    elif(x > 2):
        result = 'C'
    else:
        result = 'F'
    return result

In [254]:
data['학점'] = data['학점'].map(float)
data['학점등급'] = data['학점'].map(grade)

In [255]:
check_data = data.drop('출신전공', axis=1)
label_column = ['최종학력', '전공', '학점등급']

In [256]:
#라벨 인코딩
for label in label_column:
    target = check_data[label].copy()
    indexdata = range(0,len(target.unique()))
    imsiSeries = pd.Series(data=indexdata, index=target.unique())
    check_data[label] = target.map(imsiSeries)

In [257]:
check_data.to_csv('데이터 전처리 통합.csv', encoding="")

# 데이터 제거

In [258]:
temp = check_data[check_data['최종학력'] != 7]
temp.reset_index(inplace=True)
temp.drop('index', axis=1, inplace=True)
temp.to_csv('데이터 고졸 제거.csv', encoding="")

# 데이터 제거 2

In [259]:
temp['분기'].unique()

array(['2019년 하반기 ', '2018년 하반기 ', '2016년 하반기 ', '2016년 상반기 ',
       '2015년 하반기 ', '2015년 상반기 ', '2014년 하반기 ', '2014년 상반기 ',
       '2013년 하반기 ', '2013년 상반기 ', '2012년 하반기 ', '2012년 상반기 ',
       '2011년 하반기 ', '2011년 상반기 ', '2010년 하반기 ', '2010년 상반기 ',
       '2009년 하반기 ', '2009년 상반기 ', '2008년 하반기 ', '2008년 상반기 ',
       '2007년 하반기 ', '2007년 상반기 ', '2019년 상반기 ', '2018년 상반기 ',
       '2016년 하반기', '2013년 하반기', '2012년 하반기', '2010년 하반기', '2020년 하반기 ',
       '2017년 상반기 ', '2015년 하반기', '2014년 하반기', '2009년 하반기', '2021년 하반기 ',
       '2021년 상반기 ', '2020년 상반기 ', '2017년 하반기 ', '2011년 하반기', '2008년 하반기',
       '2007년 하반기', '2017년 하반기', '2106년 하반기'], dtype=object)

In [260]:
quarter = temp['분기'].map(lambda x: x in ['2021년 상반기 ','2021년 하반기 ','2020년 상반기 ','2020년 하반기 ',' 2019년 상반기 ','2019년 하반기 ',
                 '2018년 상반기 ', '2018년 하반기 ', '2017년 상반기 ', '2017년 하반기 ', '2017년 하반기', '2016년 상반기 ',
                 '2016년 하반기 ', '2016년 하반기', '2015년 상반기 ', '2015년 하반기 ', '2015년 하반기'])

In [261]:
temp = temp[quarter]
temp.reset_index(inplace=True)
temp.drop('index', axis=1, inplace=True)
temp.to_csv('데이터 분기별 제거.csv', encoding="")